<apex:page StandardController="Opportunity" extensions="OpportunityToXero">
     <apex:form ><apex:inputHidden value="{!Opportunity.AccountId}"/></apex:form>
     <apex:form ><apex:inputHidden value="{!Opportunity.CreatedDate}"/></apex:form>
     <apex:form ><apex:inputHidden value="{!Opportunity.CloseDate}"/></apex:form>
     <apex:pageMessages ></apex:pageMessages>
     
</apex:page>