<!-- This is a apex page developed to display related list of revenue schedule -->
<!--  on contract detail page. --> 
<!--  Version       Date              Author              Comments -->
<!--     1.0       9/3/2013    Sachin Sankad         Initial Draft -->

<apex:page standardController="Contract" extensions="RevenueScheduleForOpportunityModified" sidebar="false">
	<apex:form id="myForm">
		<apex:pageBlock title="Revenue Schedules" id="pgSchedule">
			<apex:pageMessages />
			<apex:pageBlockButtons >
				<apex:commandButton value="Edit" action="{!editRevenueSchedule}"  rerender="myForm,pgBlckSchedule" id="isbtn1"  status="gridLoadingStatus" disabled="{!NOT(isDisabled) || NOT(isSaveDisabled)}"/>
				<apex:commandButton value="Save" action="{!saveRevenueSchedule}" rerender="myForm,pgBlckSchedule" id="isbtn2" status="gridLoadingStatus1" disabled="{!NOT(isDisabled) || isSaveDisabled}"/>
			</apex:pageBlockButtons>
			
			<apex:pageBlockSection title="Title1" collapsible="true" rendered="false"/>
			
			<apex:outputPanel id="pgBlckSchedule">
				<apex:actionStatus id="gridLoadingStatus">
				
				<apex:facet name="start">
						<apex:image value="/img/loading.gif" />
				</apex:facet>
				
				<apex:facet name="stop">
				
		     <apex:outputPanel rendered="{!isDisplay}">
						<apex:repeat value="{!lineItemScheduleList}"  var="lineItemSchedule1" id="theRepeat">
								<apex:pageBlockSection title="Revenue Schedules for Product {!lineItemSchedule1.name}" columns="1" collapsible="true" id="revenueSchedule">
								   	 	<apex:pageBlockTable value="{!lineItemSchedule1.lstInnerClassOppLineItmSch}" var="lineItemScheduleItem">
								        	
								        		<apex:column headerValue="Date" width="15%">
							                        <apex:outputText value="{0,date,dd/MM/yyyy}"> 
							                        	<apex:param value="{!lineItemScheduleItem.ScheduleDate}" />
							                        </apex:outputText>
							                    </apex:column>
							                    
							                    <apex:column headerValue="Revenue" width="15%">
							                        <apex:outputText value="{!lineItemScheduleItem.Revenue}" />   
							                    </apex:column>
							                    
							                    <apex:column headerValue="Comments" width="15%">
							                        <apex:outputText value="{!lineItemScheduleItem.Description}" />   
							                    </apex:column>
							                    
							             </apex:pageBlockTable>
							    </apex:pageBlockSection>
							    
							    <script>
        								twistSection(document.getElementById('{!$Component.pgSchedule.theRepeat.revenueSchedule}').getElementsByTagName('img')[0])
   								</script> 
						</apex:repeat>
			 </apex:outputPanel>
			 
		</apex:facet>
		</apex:actionStatus>	 		
								
				<apex:actionStatus id="gridLoadingStatus1">
					<apex:facet name="start">
							<apex:image value="/img/loading.gif" />
					</apex:facet>
					<apex:facet name="stop">
			     <apex:outputPanel rendered="{!NOT(isDisplay)}">
				 
				 		<apex:repeat value="{!lineItemScheduleList}"  var="lineItemSchedule1">
							    <apex:pageBlockSection title="Revenue Schedules for Product {!lineItemSchedule1.name}" columns="1" collapsible="true" >
										<apex:pageBlockTable value="{!lineItemSchedule1.lstInnerClassOppLineItmSch}" var="lineItemScheduleItem">
								        	
								        		<apex:column headerValue="Date" width="15%">
							                        <apex:inputField value="{!lineItemScheduleItem.ScheduleDate}" required="false"/>
							                    </apex:column>
							                    <apex:column headerValue="Revenue" width="15%">
							                        <apex:inputText value="{!lineItemScheduleItem.Revenue}" />   
							                    </apex:column>
							                    <apex:column headerValue="Comments" width="15%">
							                        <apex:inputText value="{!lineItemScheduleItem.Description}" />   
							                    </apex:column>
							                    
										</apex:pageBlockTable>
								</apex:pageBlockSection>
						</apex:repeat>
					  
				</apex:outputPanel>
				</apex:facet>	
				</apex:actionStatus>
			
			</apex:outputPanel>
			
		</apex:pageBlock>
	</apex:form>
</apex:page>